:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
.footer {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    background-color: var(--color-navy-blue-modal);
} 
span {
    color: #2e2f42;
}
/* HEADER HEADER HEADER HEADER HEADER */
.page-header {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none; 
}
.list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* Portfolio image */
.portfolio-page{
    position: absolute;
    width: 323px;
    height: 40px;
    left: 559px;
    top: 1016px;
    
    /* Header 2 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-navy-blue-modal);
}
.portfolio-img {
    box-sizing: border-box;
    width: 360;
    height: 300;
    /* CORNFLOWER */  
    border: 1px solid var(--color-cornflower);  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Team */
.team-page {
    position: absolute;
    width: 162;
    height: 40px;
    left: 639px;
    top: 1668px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue-modal);
}
.team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;
color: var(--color-navy-blue-modal);
}


.link {
    text-decoration: none;
}

.hero {
    background-color: var(--color-navy-blue-modal);
    color: white;
}

.team {
    background-color: #F4F4FD;
}

.address-list {
    color: var( --color-slate);
}
.about-list {
    
    color: var( --color-slate);
}