:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --header-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--header-white);

}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* ======HEADER====== */
.link-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
/* span Studio */
.logo-text {
    color: #2E2F42;
}
.menu-list {
    text-decoration: none;
}
.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* ADDRESS */
.header-address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* 
HOVER
*/
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* =========Hero========== */
.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-btn {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
/* =======ABOUT======== */
.about-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ========PORTFOLIO======== */
.portfolio-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
/* ========TEAM======== */
.team {
    background-color: #F4F4FD;
}
.team-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-item {
    background-color: #FFFFFF;
}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
/* ========FOOTER======== */
.footer {
    background-color: #2e2f42;
}
.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}
.footer-span {
    color: #f4f4fd;
}

/* +++++++++Portfolio+++++++++++ */

/* =======FILTER======= */
.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
.gallery-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}