body {
    background-color: #e5e5e5;
    color: #2E2F42;
}
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
} 

.hero {
    background-color: #2E2F42;
    color: white;
}
.team {
    background-color: #F4F4FD;
}

.address-list {
    color: #434455;
}